.admin-ttl {
    margin-top: 130px;
    margin-bottom:40px;
    font-size: 40px;
    text-align: center;
}

.admin-upper{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:80%;
    margin:0 auto;
    margin-bottom:30px;
}

.user-search-form{
    width:40%;
    height: 35px;
    border-radius: 7px;
    box-shadow: 4px 4px 4px gray;
    background:white;
    line-height:35px;
    overflow: hidden;
    position:relative;
}

.user-search__text-input{
    height:35px;
    width:calc(100% - 40px);
    line-height:35px;
    font-size:12px;
    position:absolute;
    top:0;
    right:0;
}

.pagination{
    width:100px;
    height: 35px;
    background: #1964fa;
}

.search-form__btn {
    height: 35px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding-left: 10px;
}

.fa-magnifying-glass {
    font-size: 20px;
    color: #d8dadf;
}

.users-table{
    width:80%;
    margin:0 auto;
    border-radius: 7px;
    box-shadow: 4px 4px 4px gray;
    overflow:hidden;
}

.users-table__header{
    background:#1964fa;
    color:white;
}

.users-table__row{
    background:white;
}

.users-table__header{
    text-align:left;
    height:35px;
    line-height:35px;
}

.users-table__header-item{
    padding-left:20px;
}

.users-table__row{
    height:35px;
    line-height:35px;
}

.users-table__row-name,
.users-table__row-email{
    padding-left:20px;
}

.users-table__row-btn{
    text-align:center;
}

.select-btn{
    width:70%;
    background:#1964fa;
    border:none;
    border-radius: 7px;
    color:white;
    cursor:pointer;
}

.select-btn:hover{
    background: #0b418f;
    transition: 0.3s ease;
}